<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="last">
    <input type="text" name="name" placeholder="enter the name">
    <input type="text" name="email" placeholder="enter the email">
    <input type="text" name="phone" placeholder="enter the phone number">
    <input type="text" name="DOB" placeholder="enter the date of birth">
    <input type="submit">
    </form>
</body>
</html>